.card {
	position: relative;
	width: 100vw;
	height: 100vh;
	background: transparent;
	overflow: hidden;
	border: transparent;
	/* box-shadow: rgba(141, 177, 205, 0.618) 0px 40px 30px -25px; */
	transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  
  /* .card:hover {
	transform: scale(1.08);
	box-shadow: rgba(141, 177, 205, 0.618) 0px 30px 30px -25px;
  } */
  
  .icons-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 1rem;
	z-index: 999;
  }
  
  .icons-container .svg {
	stroke: white;
	width: 20px;
	transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  
  .icons-container .svg:hover {
	transform: scale(1.5);
	stroke: black;
  }
  
  .icons-container .twitter {
	fill: white;
  }
  
  .icons-container .twitter:hover {
	fill: black;
	stroke: none;
  }
  
  .logo {
	width: 50px;
	padding: 1rem;
  }
  
  .logo .svg {
	fill: white;
  }
  
  .title {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: White;
	font-weight: bold;
	font-size: 1.1rem;
  }
  
  .box {
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: rgba(66, 66, 66, 0.349) 5px 0px 10px 0px inset;
	transition: all 0.5s ease-in-out;
	display: grid;
	place-content: center;
	padding: 2rem 2rem 3rem 2rem;
  }
  
  .box .content {
	position: relative;
	transform: translateY(-100%);
	opacity: 0;
	transition: all 0.5s ease-in-out 0.3s;
  }
  
  .box .content .box-title {
	display: block;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 1rem;
  }
  
  .box .content .box-text {
	color: rgba(255, 255, 255, 0.738);
	font-size: 0.8rem;
  }
  
  .box:hover {
	right: 0;
	top: 0;
	border-radius: 0;

	box-shadow: rgba(66, 66, 66, 0) 5px 0px 10px 0px inset;
  }
  
  .box:hover .content {
	transform: translate(0, 0);
	opacity: 1;
  }
  
  .box1 {
	top: 0%;
	right: -95%;
	background: rgb(255, 112, 60);
	border-radius: 0px;
  }
  
  .box2 {
	top: 0%;
	right: -90%;
	background:rgb(255, 174, 0);
	border-radius: 0px;
  }
  
  .box3 {
	top: 0%;
	right: -85%;
	background: rgb(255, 194, 52);
	border-radius: 0px;
  }

  .box:hover .vertical-text {
	opacity: 0; /* Show vertical text when box is hovered */
  }
  .vertical-text {
	position: absolute;
	top: 50%;
	left: 5px; /* Adjust distance from the box as needed */
	transform: translateY(-50%);
	font-size: 3rem;
	font-weight: bold;
	color: white;
	writing-mode: vertical-rl; /* Vertical text mode */
	text-orientation: mixed; /* Ensure correct orientation */
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
  }
  

  .card-2 {
	color: #224;
  	background:
    url(https://source.unsplash.com/E8Ufcyxz514/2400x1823)
    center / cover no-repeat fixed;
	
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;

  	height: 80%;
	width: 50%;
  	padding: 35px;

  	border: 1px solid rgba(255, 255, 255, .25);
  	border-radius: 20px;
  	background-color: rgba(255, 255, 255, 0.45);
  	box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  	backdrop-filter: blur(15px);
}
  